html, body{ font-family: 'Open Sans', sans-serif; margin-top:0.61em;}
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}
footer{margin-top:1.61em;text-align:  right}

textarea{border:solid 1px #e4e4e4}
h1{font-weight:normal; }

/*-----------HEADER STYLES-------------*/
header{margin-bottom:.61em; color:#696969}
header p{display:block; margin:0; padding: 0}
header h1{display:block; vertical-align: middle; margin:0; padding:0}
header img{vertical-align: middle; float:left;}

header .title{float:left;}

/*Non Phone*/
@media(min-width:767px){
	header .title{margin:1.55em 0 0 0;}
}
/*Phone*/
@media(max-width:767px){
	header .title{margin:0.55em 0 0 0;}
	header img{width:50px; height: 52px;}
	header h1{font-size:1.31em; line-height:0.91em; }
	header p{font-size:0.61em; line-height:1.61em;  }
}

/*-----------FORMULA INPUT-------------*/

#inputArea textarea{height:3.2em; }
#inputArea select{vertical-align:middle; }


/*-----------FORMULA STYLES------------*/
.formula{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color:#f5fffa;
	border:solid 1px #e4e4e4;
	padding: 1.428em;
	overflow:auto;
}
#fomatFormula_2_out{display:inline;white-space: nowrap}
.function{
	color:#069;
}
.function_start, .function_stop{
	color:#ff0000;
}
.tabbed{border-left:dotted 1px #a0a0a0}
.quote_mark, .text{color:#0000ff}
/*-----------FORMULA STYLES------------*/

label{margin: 0.5em 0;}

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    vertical-align: text-top;
}
